@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    background-color: #fffef9;
}

.title{
    margin-left: 180px;
    margin-top: -220px;
}

nav li {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    width: 200px;
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
    display: block;
    transition: all 1s;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-kerning: 10px;
    text-align: center;
    transition: all 0.5s;
    
}

nav a.active {
    background-color: #E0AC9D;
    border-radius: 50px;  /* Optional to match hover style */
    color: black;         /* Ensure the text color is readable */
}

.navbar{
    margin-left: 700px;
    margin-top: -310px;
}

a:not(.back):hover{
    border: 1px solid black; 
    border-radius: 50px;
}


.image-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%; 
}

.square{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    transition: all 0.7s ease;
}

.image-container:hover .square {
    width: auto;
    height: 100%;
}

.custom-width{
    width: 1000px;
    margin: 0 auto;
}

.custom-width .row + .row {
    margin-top: 10px;
}

#procreate, #mixed, #photoshop {
    display: none;
}

.goback{
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
}

.goback:hover{
    margin-top: 20px;
}