@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');
html, body{
    background-color: #d34500;
    overflow: hidden;
}


.bg{
    position: absolute;
    margin-top: 50px;
    margin-left: 130px;
}

#pin-nibble{
    position: absolute;
    margin-left: 710px;
    margin-top: 380px;
    z-index: 1000;
}

#pin-ait{
    position: absolute;
    z-index: 1000;
    margin-top: 100px;
    margin-left: 450px;
}

#pin-font{
    position: absolute;
    z-index: 1000;
    margin-top: 530px;
    margin-left: 750px;
}

#pin-zine{
    position: absolute;
    z-index: 1000;
    margin-top: 380px;
    margin-left: 330px;
}

#pin-beat{
    position: absolute;
    margin-left: 550px;
    margin-top: 200px;
    z-index: 1000;
 
    
}

#pin-bd{
    position: absolute;
    z-index: 1000;
    margin-top: 580px;
    margin-left: 400px;
    
}

.pin{
    transition: transform 0.3s ease-in-out;
    animation: float 3s ease-in-out infinite;
}

.pin:hover {
    animation: floatHover 1.5s ease-in-out infinite;
}

@keyframes floatHover {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.texts{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.texts{
    position: absolute;
    margin-top: 400px;
    margin-left: 1190px;
    z-index: 5000;
    /* display: none; */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
}

.text-ait{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    margin-top: 170px;
    margin-left: 30px;
    z-index: 5000;
    /* display: none; */
    opacity: 0;
    transition: opacity 1s ease-in-out;

}


.pin-hover:hover .texts {
    /* display: block; Show text when pin is hovered */
    opacity: 1;
}

.ait-hover:hover .text-ait{
    opacity: 1;
}

.text-ait{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    margin-top: 170px;
    margin-left: 30px;
    z-index: 5000;
    opacity: 0;
    transition: opacity 1s ease-in-out;

}

.text-beat{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    margin-top: 170px;
    margin-left: 1080px;
    z-index: 5000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.beat-hover:hover .text-beat{
    opacity: 1;
}

.text-zine{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    margin-top: 420px;
    margin-left: 100px;
    z-index: 5000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.zine-hover:hover .text-zine{
    opacity: 1;
}

.text-font{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    margin-top: 620px;
    margin-left: 1200px;
    z-index: 5000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.font-hover:hover .text-font{
    opacity: 1;
}

.text-bd{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    margin-top: 620px;
    margin-left: 70px;
    z-index: 5000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bd-hover:hover .text-bd{
    opacity: 1;
}

.title{
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    color: antiquewhite;
}
